.mapContainer {
  height: 70vh; /* Altura ajustable según la ventana del navegador */
  width: 100%; /* El contenedor ocupa todo el ancho disponible */
  max-height: 600px; /* Limitar la altura máxima */
  max-width: 100%; /* Asegurar que el mapa ocupe todo el ancho disponible */
  margin: 0 auto; /* Centrando el mapa horizontalmente */
  position: relative; /* Para posicionar elementos hijos correctamente */
}

.mapContainer:before {
  content: "";
  display: block;
  padding-top: 56.25%; /* Aspect Ratio 16:9 */
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}