.mapContainer {
height: 70vh;
width: 100vh;  
max-height: 600px; /* Altura máxima para evitar que el mapa sea demasiado grande */
max-width: 100%;  /* Asegura que el mapa no exceda el ancho de la ventana */
margin-top: 5rem;

position: center; 
}

.mapContainer:before {
  content: "";
  display: block;
   
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}